.portfolio-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .main-project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: whitesmoke;
        width: 60%;

        h1 {
            font-size: 6rem;
            margin-bottom: 2.5%;
            width: 75%;

            @media (max-width: 900px) {
                font-size: 5rem;
                margin-bottom: 3.5%;
            }
        }

        h2 {
            font-size: 2rem;
            width: 75%;

            @media (max-width: 900px) {
                font-size: 1.8rem;
                line-height: 1.5;
            }
        }
    }
    
    .one {
        width: 100%;
        height: 100vh;
        background-image: url("../../Images/portfolio.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: grey;
        background-blend-mode: multiply;
    }
}