.home-main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../../Images/home40.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // background-color: grey;
    // background-blend-mode: multiply;

    @media (max-width: 700px) {
        background-image: url("../../Images/home40.jpg");
    }

    .content {
        color: whitesmoke;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1.5;
    
        h2 {
            font-size: 2rem;
            width: 75%;
            font-weight: 500;
            
            @media (max-width: 700px) {
                font-size: 2rem;
                margin-bottom: 2%;
            }
        }

        .icons {
            display: flex;
            justify-content: center;
            width: 100%;

            a {
                margin: 1.5% 0.25%;

                @media (max-width: 700px) {
                    margin: 1.5% 0.75%;
                }
                
                img {
                    height: 30px;
                }
            }

            img {
                margin: 1.5% 0.5%;
                height: 45px;
            }
        }
    }
}